<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aliasadi.memoryleaks">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="aliasadi.memoryleaks.asynctask.TaskBestPractical" />
        <activity android:name="aliasadi.memoryleaks.asynctask.inner.InnerTaskFixed" />
        <activity android:name="aliasadi.memoryleaks.asynctask.inner.InnerTaskLeak" />
        <activity android:name="aliasadi.memoryleaks.asynctask.StaticTaskLeak" />
        <activity android:name="aliasadi.memoryleaks.asynctask.StaticTaskFixed" />
        <activity android:name="aliasadi.memoryleaks.thread.InnerThreadLeak" />
        <activity android:name="aliasadi.memoryleaks.thread.InnerThreadFixed" />
        <activity android:name="aliasadi.memoryleaks.handler.InnerHandlerFixed" />
        <activity android:name="aliasadi.memoryleaks.singleton.ActivitySingleton" />
    </application>

</manifest>