<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aliasadi.memoryleak">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".App"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="aliasadi.memoryleak.asynctask.TaskBestPractical" />
        <activity android:name="aliasadi.memoryleak.asynctask.inner.InnerTaskFixed" />
        <activity android:name="aliasadi.memoryleak.asynctask.inner.InnerTaskLeak" />
        <activity android:name="aliasadi.memoryleak.asynctask.StaticTaskLeak" />
        <activity android:name="aliasadi.memoryleak.asynctask.StaticTaskFixed" />
        <activity android:name="aliasadi.memoryleak.thread.InnerThreadLeak" />
        <activity android:name="aliasadi.memoryleak.thread.InnerThreadFixed" />
        <activity android:name="aliasadi.memoryleak.handler.InnerHandlerFixed" />
        <activity android:name="aliasadi.memoryleak.singleton.SingletonActivityFixed" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
       </activity>
        <activity android:name=".handler.InnerHandlerLeak" />
        <activity android:name=".singleton.SingletonActivityLeak" />
    </application>

</manifest>